.idea/*
*.iml
*.iws
*.csv
*.ipr
.DS_Store
target/*
*.swp
/target
.project
.classpath
.settings
.gradle
classes/*
build
out
*.gz
*.tgz
*.log
*.lock
*/dist/*.jar
**/.fastRequest/**
rebel.xml
rebel-remote.xml
